.logo{
  margin-right: 10px;
}

.list{
  background-color: paleturquoise;
  border: 5px dashed red;
}

.date_button{
  background-color: white;
}

.date_button{/*, input[type=text]{*/
  margin: 100px 0 10px;
  padding: 10px;
  font-size: 28px;
  text-align: center;
  position: relative;
  top: 50%;
  left: 35%;
  border: 3px solid black;
  border-radius: 12px;
}

.date_button:hover{
  cursor: none;
}

/* #todo_input, input[type=text]{
padding: 10px;
margin: 10px 0 10px;
position: relative;
left: 35%;
border: 3px solid black;
border-radius: 12px;
text-align: center;
font-size: 16px;
width: 35%;
} 

.newtodo{
  border: 5px dashed greenyellow;
}

input[type=submit]{
  border: 5px solid purple;
} */

#defaultCheck1:checked{
  color:blue;
  text-decoration: line-through;
}